{{ define "import-status" }}
{{ template "header" . }}
<div class="gmail-blend-screen">
    <div class="gmail-blend-difference">
        <h2>{{ L.Ts "email.status.importTitle" }}</h2>
        <table width="100%">
            <tr>
                <td width="30%"><strong>{{ L.Ts "email.status.importFile" }}</strong></td>
                <td><a href="{{ RootURL }}/admin/subscribers/import">{{ .Name }}</a></td>
            </tr>
            <tr>
                <td width="30%"><strong>{{ L.Ts "email.status.status" }}</strong></td>
                <td>{{ .Status }}</td>
            </tr>
            <tr>
                <td width="30%"><strong>{{ L.Ts "email.status.importRecords" }}</strong></td>
                <td>{{ .Imported }} / {{ .Total }}</td>
            </tr>
        </table>
    </div>
</div>
{{ template "footer" }}
{{ end }}