{{ define "subscription-form" }}
{{ template "header" .}}
<section>
    <p>Welcome to my email list sign up!</p>
    <p>Signing up helps me keep track of who actually cares about my content. Also, if Twitch or YouTube or Discord or <i>[insert social media site here]</i> ever go away, I'll still have a way to reach you.</p>
    <ul>
        <li>I promise to never spam you.</li>
        <li>I promise to make it really easy to unsubscribe / delete your data if you don't want to receive emails anymore.</li>
        <li>I promise to only send you <i>mostly</i> interesting things.</li>
    </ul>
    <p>-CJ</p>

    <h2>{{ L.T "public.subTitle" }}</h2>

    <form method="post" action="" class="form" autocomplete="on">
        <div>
            <p>
                <label>{{ L.T "subscribers.email" }}</label>
                <input name="email" required="true" autocomplete="email" type="email" placeholder="{{ L.T "subscribers.email" }}" autofocus="true" >

                <input name="nonce" class="nonce" value="" />
            </p>
            <p>
                <label>{{ L.T "public.subName" }}</label>
                <input name="name" autocomplete="given-name" type="text" placeholder="{{ L.T "public.subName" }}" >
            </p>
            <ul class="lists">
                <h2>{{ L.T "globals.terms.lists" }}</h2>
                {{ range $i, $l := .Data.Lists }}
                    <li>
                        <input id="l-{{ $l.UUID}}" type="checkbox" name="l" value="{{ $l.UUID }}" >
                        <label for="l-{{ $l.UUID}}">{{ $l.Name }}</label>
                    </li>
                {{ end }}
            </ul>
            <p>
                <button type="submit" class="button">{{ L.T "public.sub" }}</button>
            </p>
        </div>
    </form>
</section>

{{ template "footer" .}}
{{ end }}
